@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body{
    font-family:Raleway,sans-serif;
    margin:0;
}

 a{
    text-decoration:none;
}
header a:hover{
    color:#337ab7
}header{
    height:13vh;
}
ul{
    list-style:none;
    display:flex;
    
}
ul li{
    padding:0 2vh;
}
nav{
    display:flex;
    justify-content:center;
    align-items: baseline;
    height:76px;
    color:#333;
}
.logo{
    color:#666;
    font-size:5vh;
    flex-basis: 35%;
    padding-top: 3%;
}
.logo:hover{
    color:#333;
}
/*beginne den Hero zu stylen */
#hero{
    background-image:url("../img/photo-1443527216320-7e744084f5a7-1.jpg");
    background-position: center;
    background-attachment: cover;
    background-repeat: no-repeat;
    height:90vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
#hero div{
    color:white;
    text-align:center;
}
#hero div h1{
    font-size:7vh;
}
#hero div h6{
    font-size:2vh;
}
#readMore{
    font-size:1.5vh;
    font-weight: 800;
    text-decoration: none;
    background-color:#745cf9;
    padding:2.5vh 6.5vh;
    color:#fff;
    font-size:1.5vh;
    font-weight: 800;
}
#readMore:hover{
    background-color:#5234f9;

}
#downloadNow{
    max-width:2vh;
    font-size:1.5vh;
    font-weight: 800;
    text-decoration: none;
    background-color:#f3f3f300;
    padding:2vh 3.5vh;
    border:0.5vh solid #fff;
    color:#fff;
    margin:0.5vh;
}
#downloadNow:hover{
    color:#000;
    background-color:#fff;
    
}